-
	var artists = [
		{
			image: 'artist-1.jpg',
			name: 'Unlimited Gravity',
			genre: 'hip-hop',
			class: 'big',
			player: 'iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/638528352&amp;color=%23e42fff&amp;inverse=true&amp;auto_play=false&amp;show_user=false"',
			price: '300',
			text: 'Austin Moses (aka Blaize) was born in Corpus Christi, but now resides in San Antonio. Blaize first began his musical career by making Hip Hop music/beats for his friends in high school. You can still hear those influences within his music even to this day. He became greatly inspired after going to a Skrillex show back in 2012, and from there on out, decided to change his production style. This led to a more bass heavy type of sound; With which Blaize has taken a liking to. His production skill knows no bounds, as he has had releases on labels such as Buygore, Firepower, and Super 7. Blaize is now on a countrywide tour, and continues to play'
		},
		{
			image: 'artist-3.jpg',
			name: 'LEViT∆TE',
			genre: 'hip-hop',
			class: '',
			price: '500',
			text: 'Austin Moses (aka Blaize) was born in Corpus Christi, but now resides in San Antonio. Blaize first began his musical career by making Hip Hop music/beats for his friends in high school. You can still hear those influences within his music even to this day. He became greatly inspired after going to a Skrillex show back in 2012, and from there on out, decided to change his production style. This led to a more bass heavy type of sound; With which Blaize has taken a liking to. His production skill knows no bounds, as he has had releases on labels such as Buygore, Firepower, and Super 7. Blaize is now on a countrywide tour, and continues to play'
		},
		{
			image: 'artist-2.jpg',
			name: 'Very long name of some creative artist',
			genre: 'electronic',
			class: '',
			price: '500',
			text: 'Austin Moses (aka Blaize) was born in Corpus Christi, but now resides in San Antonio'
		},
		{
			image: 'artist-2.jpg',
			name: 'Very long name of some creative artist',
			genre: 'electronic',
			class: '',
			price: '500',
			text: 'Austin Moses (aka Blaize) was born in Corpus Christi, but now resides in San Antonio'
		},
		{
			image: 'artist-3.jpg',
			name: 'LEViT∆TE',
			genre: 'neuro bass',
			class: '',
			price: '500',
			text: 'Part of the Phuture Collective family, Diversa showers your ears with a colorful sonic'
		},
		{
			image: 'artist-4.jpg',
			name: 'ill-esha',
			genre: 'neue deutsche härte',
			class: '',
			price: '1300',
			text: 'Vancouver-born and Colorado-based music producer, artist and DJ ill-esha has crafted'
		},
	]

.tiles-in-row.artists-tiles
	each artist in artists
		.tile-wrapper(class= artist.class)
			.tile
				.tile-image(style=`background-image: url(../assets/images/content/${artist.image})`)
				.tile-content
					.name-and-genre
						.name= artist.name
						.genre= artist.genre
					.description= artist.text
					if !!artist.player
						.player
							#{artist.player}
					.order
						.price
							span.cy $
							span.num= artist.price
							span.rate / hour
						a.ui-btn.secondary.thin(href="#")
							.btn-caption Request

	.tile-wrapper.pseudo
	.tile-wrapper.pseudo
	.tile-wrapper.pseudo
