-
	var slides = [
		{
			image: 'guy.jpg',
			color: 'ff00aa',
			date: ['26', 'apr'],
			caption: 'Headphone Activist',
			text: 'Watching someone’s dreams become their reality is one of the greatest journeys we can go on. Here is a lot of extra text for example.'
		},
		{
			image: 'cyber-gag.jpg',
			color: '9c42f5',
			date: ['1', 'may'],
			caption: 'Together Festival 2020',
			text: 'Together Festival returns in 2020 for its 9th installment. The 2-day electronic dance music festival.'
		},
		{
			image: 'cyber-gag-2.jpg',
			color: '5d2de1',
			date: ['8', 'jun'],
			caption: 'Paradise Amnesia 2020',
			text: 'As the name suggests, Paradise is heaven for electronic music. You will find excellent underground DJs.'
		},
	]

.tiles-in-row.slider.events
	each slide in slides
		.tile-wrapper
			.tile.slide.event
				.tile-image(style=`background-image: url(../assets/images/content/${slide.image})`)
				.tile-content
					.event-info
						.date-badge(style=`background-color: #${slide.color}`)
							.day= slide.date[0]
							.month= slide.date[1]
						.caption-wrapper
							.event-title= slide.caption
					.description= slide.text
